<%include ../partials/header%>
<a href="./books/new">Book NEw</a>

<form action="/books" method="GET">
    <div class="form-group">
        <input type="text" name="search" placeholder="Campground search..." class="form-control">
        <input type="submit" value="Search" class="btn btn-default">
    </div>
</form>
<!--<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores dolore nostrum alias voluptatum quo unde fugit perferendis totam quibusdam. Non sed necessitatibus nobis beatae laboriosam nihil facilis incidunt quisquam consequuntur.</p>-->
    <%list.forEach((book)=>{%>
        <a href="books/<%=book._id%>"><h2><%=book.title%></h2></a>
        <%=book.author%>
        <%=book.genre%>
        <br>
    <%})%>
    
    <!-- <button href=""></button> -->
<%include ../partials/footer%>
