<%include ../partials/header%>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ratione incidunt molestias ducimus. A alias, cupiditate itaque illum necessitatibus animi corrupti doloremque veniam? Aut adipisci at officiis autem, recusandae velit.</div>
<form action="/books" method="POST">
    <input type="text" name="Book[title]" placeholder="title"><br>
    <input type="text" name="Book[author]" placeholder="author"><br>
    <input type="text" name="Book[genre]" placeholder="genre"><br>
    <input type="submit">
</form>
<%include ../partials/footer%>