<% include ./partials/header.ejs%>
<form action="/login" method="post">
    <input type="text" name="username" id="username">
    <input type="password" name="password" id="password">
    <input type="submit" value="Login">
</form>
<% include ./partials/footer.ejs%>